# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# Data files (too large for GitHub)
data/raw/
data/processed/
online_retail.csv
cleaned_retail.csv
*.xlsx

# Conda / venv
envs/
.conda/

# OS
Thumbs.db
.DS_Store

# Streamlit
.streamlit/secrets.toml 
